body {
  margin: 0; }

a {
  background: transparent;
  color: inherit; }

a:active, a:hover {
  outline: 0; }

hr {
  height: 0; }

img {
  border: 0; }

figure {
  margin: 0; }

svg:not(:root) {
  overflow: hidden; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.hide {
  display: none; }

.w1 {
  width: 100%; }

.container--l {
  max-width: 1400px; }

.container--s {
  max-width: 750px; }

.height-100 {
  height: 100vh; }

.fit-x {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

.fit-t {
  top: 0; }

.fit-b {
  bottom: 0; }

.fit-l {
  left: 0; }

.fit-r {
  right: 0; }

.mha {
  margin-left: auto;
  margin-right: auto; }

.mt0 {
  margin-top: 0em; }

.mb0 {
  margin-bottom: 0em; }

.mv0 {
  margin-top: 0em;
  margin-bottom: 0em; }

.mh0 {
  margin-left: 0em;
  margin-right: 0em; }

.pt0 {
  padding-top: 0em; }

.pb0 {
  padding-bottom: 0em; }

.pv0 {
  padding-top: 0em;
  padding-bottom: 0em; }

.ph0 {
  padding-left: 0em;
  padding-right: 0em; }

.mt025 {
  margin-top: 0.25em; }

.mb025 {
  margin-bottom: 0.25em; }

.mv025 {
  margin-top: 0.25em;
  margin-bottom: 0.25em; }

.mh025 {
  margin-left: 0.25em;
  margin-right: 0.25em; }

.pt025 {
  padding-top: 0.25em; }

.pb025 {
  padding-bottom: 0.25em; }

.pv025 {
  padding-top: 0.25em;
  padding-bottom: 0.25em; }

.ph025 {
  padding-left: 0.25em;
  padding-right: 0.25em; }

.mt05 {
  margin-top: 0.5em; }

.mb05 {
  margin-bottom: 0.5em; }

.mv05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.mh05 {
  margin-left: 0.5em;
  margin-right: 0.5em; }

.pt05 {
  padding-top: 0.5em; }

.pb05 {
  padding-bottom: 0.5em; }

.pv05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.ph05 {
  padding-left: 0.5em;
  padding-right: 0.5em; }

.mt075 {
  margin-top: 0.75em; }

.mb075 {
  margin-bottom: 0.75em; }

.mv075 {
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

.mh075 {
  margin-left: 0.75em;
  margin-right: 0.75em; }

.pt075 {
  padding-top: 0.75em; }

.pb075 {
  padding-bottom: 0.75em; }

.pv075 {
  padding-top: 0.75em;
  padding-bottom: 0.75em; }

.ph075 {
  padding-left: 0.75em;
  padding-right: 0.75em; }

.mt1 {
  margin-top: 1em; }

.mb1 {
  margin-bottom: 1em; }

.mv1 {
  margin-top: 1em;
  margin-bottom: 1em; }

.mh1 {
  margin-left: 1em;
  margin-right: 1em; }

.pt1 {
  padding-top: 1em; }

.pb1 {
  padding-bottom: 1em; }

.pv1 {
  padding-top: 1em;
  padding-bottom: 1em; }

.ph1 {
  padding-left: 1em;
  padding-right: 1em; }

.mt2 {
  margin-top: 2em; }

.mb2 {
  margin-bottom: 2em; }

.mv2 {
  margin-top: 2em;
  margin-bottom: 2em; }

.mh2 {
  margin-left: 2em;
  margin-right: 2em; }

.pt2 {
  padding-top: 2em; }

.pb2 {
  padding-bottom: 2em; }

.pv2 {
  padding-top: 2em;
  padding-bottom: 2em; }

.ph2 {
  padding-left: 2em;
  padding-right: 2em; }

button {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: inherit; }

button[disabled],
input[disabled] {
  cursor: default; }

button.button,
.button,
a[role="button"],
.button[role="button"],
input[type="submit"].button {
  display: block;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  padding: 0.7em 2em;
  text-decoration: none;
  text-align: center; }

form {
  margin: 0; }

input,
select,
textarea {
  outline: 0;
  border: 0; }

label,
input,
select {
  position: relative; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="password"],
select {
  padding: .35em .65em;
  outline: 0; }

:root {
  color: #002839;
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-size: 80%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 40, 57, 0.004); }
  @media (min-width: break(s)) {
    :root {
      font-size: 100%; } }

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 2ex 0 .6ex;
  font-weight: 600; }

h1,
.h1 {
  font-size: 4.5rem;
  line-height: 1.06944; }

h2,
.h2 {
  font-size: 3rem;
  line-height: 1.4; }

h3,
.h3 {
  font-size: 2rem;
  line-height: 1.4; }

h4,
.h4 {
  font-size: 1.5rem;
  line-height: 1.5; }

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1.6; }

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.6; }

p,
.p {
  font-size: 1.125rem;
  line-height: 1.7; }

p {
  margin: 2ex 0; }

hr {
  display: block;
  background-color: currentColor;
  color: inherit;
  border: 0;
  height: 4px;
  width: 100%; }

b, strong {
  font-weight: 600; }

a {
  color: inherit; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start; }

.flex-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.flex-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  min-height: 0; }

