.nav {
  padding-top: 1.2em;
  z-index: 1000;
  background-color: white;

  @media (min-width: 48em){
    text-align: right;

    .nav__inner {
      a {
        margin-right: 0;
        margin-left: 3em;
      }
    }
  }

  hr {
    margin-top: 1.2em;
  }

  .nav__logo {
    color: $cb;
    text-decoration: none;
    width: 100%;
    margin-bottom: 0.5em;

    @media (min-width: 48em){
      margin-bottom: 0;
      width: auto;
    }
  }

  .foot & {
    padding-top: 0;
    padding-bottom: 1.2em;

    hr {
      margin-top: 0;
      margin-bottom: 1.2em;
    }
  }

  .nav__inner {
    a {
      margin-right: 2em;
    }
  }
}
