.question-outer {
  min-height: 100vh;
}

.question {
  font-weight: 300;

  button {
    margin: 0 0.5em 0.5em 0;
    text-align: left;
    padding: 0.4em 0.8em 0.5em;
    border: 1px solid currentColor;
    font-weight: 300;

    &:focus,
    &:hover {
      color: white;
      background-color: $c0 !important;
      outline: 0;
    }
  }
}
