@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,300;0,400;0,600;1,400&display=swap');

@import "lib/normalize";
@import "lib/display";
@import "lib/widths";
@import "lib/containers";
@import "lib/utilities";
@import "lib/colors";
@import "lib/typography";
@import "lib/spacing";
@import "lib/buttons";
@import "lib/forms";
@import "lib/flexbox";

@import "components/header";
@import "components/item";
@import "components/question";
@import "components/gif";
@import "components/fav";
@import "components/page-header";


.header-spacer {
  height: 66px;
}

.clear {
  &::before,
  &::after {
    content:' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.outer {
  padding-left: 1em;
  padding-right: 1em;

  @media (min-width: 48em){
    padding-left: 2em;
    padding-right: 2em;
  }
}

.putz {
  position: fixed;
  width: 100%;
  left: 0; top: 0;
  z-index: 1001;
}
.putz__inner {
  position: absolute;
  width: 100%;
  left: 0; top: 0;
  height: 4px;
  background-color: currentColor;
  transition: transform 200ms ease-in-out; 
  transform: translateX(-100%);
}

.arrow {
  display: inline-block;
  position: relative;
  height: 0;
  width: 0;
  border-top: 0.25em solid currentColor;
  border-right: 0.25em solid currentColor;
  border-left: 0.25em solid transparent;
  border-bottom: 0.25em solid transparent;

  &::after {
    content:'';
    display: block;
    position: absolute;
    height: 4px;
    background-color: currentColor;
    width: 0.4em;
    transform: rotate(-45deg) translateX(-0.2em) translateY(-0.21em); 
  }
}

.client-logo {
  max-width: 50%;

  @media (min-width: 48em){
    max-width: 33%;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.work__image {
  overflow: hidden;
  margin-bottom: 1em;

  @media (min-width: 48em){
    &:nth-of-type(even){
      float: left;
      max-width: calc(50% - 0.5em);
      max-height: calc(50% - 0.5em);
    }
    &:nth-of-type(odd){
      float: right;
      max-width: calc(50% - 0.5em);
      max-height: calc(50% - 0.5em);

      &:last-of-type {
        float: right;
        max-width: calc(50% - 0.5em);
        max-height: calc(50% - 0.5em);
        margin-left: 0;
      }
    }
    &:nth-of-type(3n+1){
      float: left;
      max-width: 75%;
      margin-left: 12.5%;
    }
    &:last-of-type {
      float: left;
      max-width: 75%;
      margin-left: 12.5%;
      max-height: 100%;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.work__image__caption {
  margin-top: 0.25em;
  border: 1px solid currentColor;

  p {
    margin: 0;
  }
}

.about__image {
  width: 100%;
  margin-bottom: 1em;

  @media (min-width: 48em){
    width: 50%;

    &:nth-of-type(1){
      padding-right: 0.5em;
    }
    &:nth-of-type(2){
      padding-left: 0.5em;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.contact {
  .subject-line {
    cursor: pointer;

    &:hover ~ h6 {
      opacity: 1;
    }
  }

  h6 {
    opacity: 0;
  }

  button {
    padding: 0.3em 0.5em 0.3em;
    border: 1px solid currentColor;
    color: $c0 !important;
    svg {
      width: 30px;
      height: 30px;
      display: block;
    }

    &:focus,
    &:hover {
      outline: 0;
      color: $cb !important;
    }
  }

  h5 {
    white-space: nowrap;
  }
}

.touch .contact .subject-line ~ h6 {
  display: none !important;
}

.misc {
  width: 100%;
}
.misc__inner {
  @media (min-width: 48em) {
    margin-left: -25px;
    margin-right: -25px;
  }
}
.misc__item {
  padding-bottom: 50px;

  img {
    max-width: 100%;
  }

  @media (min-width: 48em) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 48em) {
    width: 100% !important;
  }
}
